@media (max-width: 700px) {

    html,body{
        overflow-x: hidden;
    }
    .header{
        padding: 0.7rem !important;
        justify-content:space-between;
    }
    .header .fa-bars, header .fa-xmark{
        display: inline-block;
    }
    .header .logo{
        padding: .5rem;
    }
    .header .logo img{
        width: 4rem;
    }
    nav{
        position: relative;
        background: white !important;
        color: black;
    }
    nav ul{
        flex-direction: column;
        position: absolute;
        background: white;
        padding: 1rem;
        width: 20rem;
        height: 90vh;
        top: 2.9rem !important;
        right: -200rem;
        transition: .3s ease-in-out;
    }
    .nav-active{
        right: -20rem;
    }
    nav ul li a{
        color: black !important;

    }
    .search-cart-icons i{
        margin: 0 .4rem !important;
    }

    /* *********** HOME ************************************ */
    .home .content{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        font-size: 1rem !important;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;

    }
    .home .content h2{
        font-size: 3rem !important;
    }
    /* *********** CONTACT ************************************ */
    .contact .contact-card .input-box{
        display: flex;
        align-items: center;
    }
    
    /* *********** Footer ************************************ */
    footer .nav-headings{
        width: 100%;
        height: 10rem; 
    }
    footer .nav-headings i{
        margin: 1rem .2rem;
        width: 6rem;
        display: inline-block;
    }
    footer .copyright h4{
        font-size: 1.2rem !important;
    }

    .about h2, .menu h2{
        font-size: 2.5rem ;
    }
    .about .about-content h3{
        font-size: 1.7rem;
    }
}